# Используем 4 пробела в C#
[*.cs]
indent_style = space
indent_size = 4
dotnet_diagnostic.SA0001.severity = none
dotnet_diagnostic.SA1600.severity = none
dotnet_diagnostic.SA1633.severity = none
dotnet_diagnostic.SA1200.severity = none
dotnet_diagnostic.SA1101.severity = none
dotnet_diagnostic.SA1309.severity = none
[*.xml]
indent_style = space
indent_size = 2
dotnet_diagnostic.SA0001.severity = none